
#start {
    font-style: italic;
  color:red;
}
body {
    font-style: normal;
    background-color:yellow;
    color:hotpink;
}
h1 {
    font-style: oblique;
    background-image: url(https://media.istockphoto.com/vectors/animal-pattern-leopard-seamless-background-with-spots-vector-id1135141898?k=6&m=1135141898&s=612x612&w=0&h=wp_vlHYHbzaMDL9VHVMqvE61KHOrvuMQBsDJj1TnNXU=);
}


